---
title: About this page for you
layout: base.njk
---

    <div class="containter">
        <h1>This page is really for you</h1>
        <div class="vibe">It was made for you, using HTML, CSS and Javascript. And served as a JAMStack site.</div>
    </div>
